.st_0, .st_1, .st_2, .st_3, .st_4, .st_64, .st_6, .st_5, .st_123, .st_124, .st_125, .st_126, .st_127
{
        position: relative;
        top: -2px;
        color: black;
}

.st_0 { background-color: lime; }
.st_1 { background-color: aquamarine; }
.st_2 { background-color: yellow; }
.st_3 { background-color: orange; }
.st_4 { color: white; background-color: red; }
.st_64 { background-color: silver; }
.st_6 { color: white; background-color: #4444aa; }
.st_5 { color: white; background-color: #aa00ff; }
.st_123 { color: white; background-color: green; }
.st_124 { background-color: white; }
.st_125 { background-color: white; }
.st_126 { background-color: orange; }
.st_127 { background-color: #dddddd; }

.ts0, .ts1, .ts2, .ts3, .ts4, .ts64, .ts6, .ts5, .ts123, .ts124, .ts125, .ts126, .ts127
{
  color: black;
  white-space: nowrap;
  font-size: 9px;
  text-align: center;
}

.ts0 { background-color: lime; }
.ts1 { background-color: aquamarine; }
.ts2 { background-color: yellow; }
.ts3 { background-color: orange; }
.ts4 { color: white; background-color: red; }
.ts64 { background-color: silver; }
.ts6 { color: white; background-color: #4444aa; }
.ts5 { color: white; background-color: #aa00ff; }
.ts123 { color: white; background-color: green; }
.ts124 { background-color: white; }
.ts125 { background-color: white; }
.ts126 { background-color: orange; }
.ts127 { background-color: #dddddd; }

.sc0, .sc1, .sc2, .sc3, .sc4, .sc64, .sc6, .sc5, .sc123, .sc124, .sc125, .sc126, .sc127
{
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-style: solid;
}

.sc0 { background-color: lime; border-color: lime; }
.sc1 { background-color: aquamarine; border-color: aquamarine; }
.sc2 { background-color: yellow; border-color: yellow; }
.sc3 { background-color: orange; border-color: orange; }
.sc4 { color: white; background-color: red; border-color: red; }
.sc64 { background-color: silver; border-color: silver;}
.sc6 { color: white; background-color: #4444aa; border-color: #4444aa;}
.sc5 { color: white; background-color: #aa00ff; border-color: #aa00ff;}
.sc123 { color: white; background-color: green; }
.sc124 { background-color: white; border-color: silver;}
.sc125 { background-color: white; border-color: silver;}
.sc126 { background-color: orange; border-color: orange;}
.sc127 { background-color: #dddddd; border-color: #dddddd;}

A.sc4:link{ color: white;}
A.sc4:active{ color: white;}
A.sc4:visited{ color: white;}

A.sc6:link{ color: white;}
A.sc6:active{ color: white;}
A.sc6:visited{ color: white;}

A.sc5:link{ color: white;}
A.sc5:active{ color: white;}
A.sc5:visited{ color: white;}

A.sc123:link{ color: white;}
A.sc123:active{ color: white;}
A.sc123:visited{ color: white;}

