<html>
<head>
    <TMPL_INCLUDE NAME="/akkada/htdocs/inc/headers.inc">
    <script type="text/javascript" src="../js/form_login.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
</head>
<body>
<div id="form_login"></div>
</body>
</html>
