<html>
<head>
    <TMPL_INCLUDE NAME="/akkada/htdocs/inc/headers.inc">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/akkada2.css" />
    <script type="text/javascript" src="../js/TabCloseMenu.js"></script>
    <script type="text/javascript" src="../js/Ext.ux.layout.custom.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
    <script type="text/javascript" src="../js/Akkada.TreeNodeUI.js"></script>
    <script type="text/javascript" src="../js/tree.js"></script>
    <script type="text/javascript" src="../js/Akkada.StatusBar.js"></script>
    <script type="text/javascript" src="../js/Akkada.TabPanel.js"></script>
    <script type="text/javascript" src="../js/Akkada.TabPanel.Tab.js"></script>
    <script type="text/javascript" src="../js/Akkada.RowExpander.js"></script>
    <script type="text/javascript" src="../js/Akkada.EntGenInfo.js"></script>
</head>
<body>
  <div id="west">
  </div>
  <div id="north">
    <p>menus, toolbars</p>
  </div>
 </body>
</html>
